#main {/* # 表示根据 html元素的id属性来选择*/
    width: 408px;
    height: 408px;
    background: white;
    border: 2px solid gray;
    margin: 0 auto;
    overflow: hidden;
}

h2 {/* 什么都不加，表示选择文档中所有的这种html元素*/
    text-align: center;
}

#con {
    width: 100%;
    height: 400px;
    position: relative;
    top: -480px; /*隐藏所有格子*/
    border-collapse:collapse;
}
/* 行 */
.row{/* . 表示根据 html元素的class属性来选择*/
    height: 100px;
    width: 100%;
}
/* 一个块 */
.cell{
    height: 100px;
    width: 100px;
    float: left;
    border:rgb(54, 74, 129) 1px solid;
}

.black {
    background: black;
}

.btn {
    width: 100%;
    text-align: center;
}

.start {
    margin: 20px auto;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: yellowgreen;
    line-height: 50px;
    color: #fff;
}
